<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
@{
    ViewBag.Title = "Danh sách sinh viên";
    string keyword = Request["keyword"];
    string sortOrder = Request["sortOrder"];
    string orderBy = Request["orderBy"];
}

<section class="content">
    <div class="container-fluid">
        <h2 class="text-center display-4">Enhanced Search</h2>
        <form action="" id="searchPaging" method="get">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row d-flex justify-content-end">
                        <div class="col-1">
                            <div class="form-group">
                                <label>PageSize</label>
                                <input id="pageSize" onchange="updatePageSize()" class="form-control form-control-md" style="width: 100%;" aria-hidden="true" value="">
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label>Sort Order:</label>
                                <select name="sortOrder" id="sortOrder" class="form-control form-control-md" style="width: 100%;" aria-hidden="true">
                                    <option value="0" @(sortOrder =="0" ? "selected":"")>Type</option>
                                    <option value="1" @(sortOrder =="1" ? "selected":"")>ASC</option>
                                    <option value="2" @(sortOrder =="2" ? "selected":"")>DESC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label>Order By:</label>
                                <select name="orderBy" id="orderBy" class="form-control form-control-md" style="width: 100%;" aria-hidden="true">
                                    <option value="0"@(orderBy =="0" ? "selected":"")>Type</option>
                                    <option value="1"@(orderBy =="1" ? "selected":"")>MSSV</option>
                                    <option value="2"@(orderBy =="2" ? "selected":"")>Họ và Tên</option>
                                    <option value="3"@(orderBy =="3" ? "selected":"")>Địa chỉ</option>
                                    <option value="4"@(orderBy =="4" ? "selected":"")>Ngày sinh</option>
                                    <option value="5"@(orderBy =="5" ? "selected":"")>Giới tính</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input name="keyword" id="keyword" type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="@keyword">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<table id="tbl_data">
    <tr>
        <td>    </td>
    </tr>
</table>
<div class="row" id="">
    <div class="col-sm-12 col-md-5">
        <div class="pt-2" id="show_entries">
            
        </div>
    </div>
    <div class="col-sm - 12 col - md - 7" id="pagination">

     </div>
</div>
<script>
    var defaultPageSize = 2; // Giá trị mặc định cho pageSize
    var currentpageSize = defaultPageSize; // Giá trị hiện tại của pageSize
    function getList(page) {
        var pageSize = currentpageSize;
        var currentPage = page != undefined ? page : 1;
        var kw = $('#keyword').val();
        var ob = $('#orderBy').val();
        var sb = $('#sortOrder').val();
        console.log(currentPage);
        console.log(kw);
        console.log(ob);
        console.log(sb);
        $.ajax({
            url: "/SinhVien/SearchPaging",
            method: "POST",
            data: { currentPage, pageSize, orderBy: ob, keywords: kw, sortOrder: sb },
            success: function (result) {
                var obj = JSON.parse(result);
                console.log(obj);
                $('#tbl_data').html("\
                    <thead>\
                            <tr align='center'>\
                                <th>STT</th>\
                                <th>MSSV</th>\
                                <th>Họ và Tên</th>\
                                <th>Địa chỉ</th>\
                                <th>Khóa học</th>\
                                <th>Lớp quản lý</th>\
                                <th>Ngày sinh</th>\
                                <th>Giới tính</th>\
                                <th>Thao tác</th>\
                            </tr>\
                        </thead>\
                    <tbody id=\"tbl_data_printer\"></tbody>\
                    ");
                let htmlResult = "";

                for (let i = 0; i < obj.Data.length; i++) {
                    htmlResult += "\
                                <tr>\
                                    <td>" + obj.Data[i].STT + "</td>\
                                    <td class = 'MSSV'>" + obj.Data[i].MSSV + "</td>\
                                    <td class='HoTen'>" + obj.Data[i].HoTen + "</td>\
                                    <td>" + obj.Data[i].DiaChi + "</td>\
                                    <td>" + obj.Data[i].KhoaHoc + "</td>\
                                    <td>" + obj.Data[i].LopQuanLy + "</td>\
                                    <td>" + obj.Data[i].NgaySinh + "</td>\
                                    <td>" + obj.Data[i].GioiTinh + "</td>\
                                    <td>\
                                    <a href=\"/Sinhvien/Edit?id="+ obj.Data[i].MSSV + "\" class=\"btn btn-primary mr-2\"><i class=\"fas fa-edit\"></i></a>\
                                    <button onclick=\"Delete(this)\" class=\"btn btn-danger\"><i class=\"fas fa-trash\"></></button></td>\
                                    ";
                }
                $('#tbl_data_printer').append(htmlResult);

                var pagination = $('#pagination');
                var totalPages = obj.TotalPages;
                var totalCount = obj.TotalCount
                let htmlPage = " <ul class=\"pagination justify-content-end m-1\">";
                if (currentPage > 1) {
                    htmlPage += "<li class=\"page-item\"><a class='page-link' href=\"javascript:void(0)\" onclick='getList(" + (currentPage - 1) + ")'>Previous</a></li>";
                }
                if (totalPages < 6) {
                    for (var i = 1; i <= totalPages; i++) {
                        htmlPage += "<li";
                        if (i == currentPage) {
                            htmlPage += " class=\"active page-item\"";
                        } else {
                            htmlPage += " class=\"page-item\"";
                        }
                        htmlPage += "><a class=\"page-link\" href=\"javascript:void(0)\" onclick='getList(" + i + ")'>" + i + "</a></li>";
                    }
                } else {
                    var startPage, endPage, gap;
                    startPage = currentPage - 2;
                    endPage = currentPage + 2;
                    if (startPage < 1) {
                        startPage = 1;
                        endPage = 5;
                    } else if (endPage > totalPages) {
                        endPage = totalPages;
                        startPage = totalPages - 4;
                    }
                    gap = startPage - 1;
                    if (gap >= 1) {
                        htmlPage += "<li class='page-item'><a class='page-link' href='javascript:void(0)' onclick='getList(1)'>1</a></li>";
                        if (gap >= 2) {
                            htmlPage += "<li class='page-item'><span class='page-link'>...</span></li>";
                        }
                    }
                    for (var i = startPage; i <= endPage; i++) {
                        htmlPage += "<li";
                        if (i == currentPage) {
                            htmlPage += " class=\"active page-item\"";
                        } else {
                            htmlPage += " class=\"page-item\"";
                        }
                        htmlPage += "><a class='page-link' href='javascript:void(0)' onclick='getList(" + i + ")'>" + i + "</a></li>";
                    }
                    gap = totalPages - endPage;
                    if (gap >= 1) {
                        if (gap >= 2) {
                            htmlPage += "<li class='page-item'><span class='page-link'>...</span></li>";
                        }
                        htmlPage += "<li class='page-item'><a class='page-link' href='javascript:void(0)' onclick='getList(" + totalPages + ")'>" + totalPages + "</a></li>";
                    }
                }
                if (currentPage < totalPages) {
                    htmlPage += "<li class='page-item'><a class='page-link' href='javascript:void(0)' onclick='getList(" + (currentPage + 1) + ")'>Next</a></li>";
                }
                htmlPage += "</ul>";
                pagination.html(htmlPage);
                var htmlshowitem = "";
                var offset = (currentPage * pageSize) - pageSize;
                if (currentPage == totalPages) {
                    htmlshowitem = "Showing " + (offset + 1) + " to " + totalCount + " of " + totalCount + " entries"
                } else {
                    htmlshowitem = "Showing " + (offset + 1) + " to " + (pageSize + offset) + " of " + totalCount + " entries"
                 }
                
                $('#show_entries').html(htmlshowitem);
               
                
            }
        }
        )
    }
    function Delete(ele) {
        var mssv = $(ele).parents("tr").find(".MSSV").text();
        var name = $(ele).parents("tr").find(".HoTen").text();
        console.log(mssv);
        if (confirm("Xác nhận xóa sinh viên:" + name)) {
            $.ajax({
                url: "/Sinhvien/Delete",
                method: "POST",
                data: { mssv },
                success: function (result, status, xhr) {
                    let rs = JSON.parse(result);
                    console.log(rs);
                    if (rs.ErrCode == 1) {
                        toastr.success(rs.Message);
                        location.reload();
                    }
                    else {
                        toastr.error(rs.Message);
                    }
                },
                error: function () {
                    toastr.error("Mất kết nối với máy chủ!");
                }
            });
        }
    }
    function updatePageSize() {
        var newPageSize = parseInt($('#pageSize').val());
        if (!isNaN(newPageSize) && newPageSize > 0) {
            currentpageSize = newPageSize;
            getList(); // Gọi lại hàm getList để tải lại dữ liệu với pageSize mới
        }
    }
    $(function () {
        currentpageSize = defaultPageSize; // Đặt giá trị mặc định cho pageSize
        $('#pageSize').val(currentpageSize); // Đặt giá trị mặc định cho trường input pageSize
        getList();
    });
</script>